/* predefining some mulitple used colors */
/* alignment inheritance */
h1, footer, .error {
    text-align: center;
}

/* button border color inheritance */

.row .btn-primary:active, .row .btn-primary:focus, .row .btn-primary, .row .btn-primary:hover {
    border-color: #bb0050 !important;
}

/* button when clicked inheritance */
.row .btn-primary:active, .row .btn-primary:focus {
    background-color: #ca0057 !important;
    box-shadow: 0 0 0 0.2rem #ff2281 !important;
}

/* container style */
#container {
    margin: 0 10% 0 10%;
    box-shadow: 0 0 10px #444;
    height: 100%;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* nav style */
nav {
    background-color: #e06;
}

.nav-link:hover {
    color: #fff !important;
}

/* content style */
.container {
    flex: 1;
}

h1 {
    margin: 3% 0;
}

h4 {
    font-weight: bold;
    font-size: 120%;
}

.row {
    margin-top: 2%;
    margin-bottom: 2%;
}

.chat {
    border: 1px solid #444;
    overflow: auto;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
}

.row .btn-primary {
    background-color: #e06 !important;
    float: right !important;
}

.row .btn-primary:hover {
    background-color: #d5005b !important;
}

/* footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

/* error page */
.error img {
    float: right;
    position: relative;
    height: 80%;
}

/* mobile style changes */
@media screen and (max-device-width: 768px) {
    #container {
        margin: 0;
   }
    .nav-link {
        padding-top: 5%;
        padding-bottom: 5%;
   }
}
