{% extends 'base.html' %}

{% block content %}

<!-- create a row with the content -->
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12 chat">
                {% for message in messages %}
                    <p><b>{{ message.role }}: </b>{{ message.content }}</p>
                {% endfor %}
            </div>
        </div>
        <form method="POST" class="row">
            {% csrf_token %}
            <input type="text" name="query" autofocus>
            <button type="submit">SEND</button>
            <button type="submit" name="new" value="1">NEW CHAT</button>
        </form>
    </div>
</div>
{% endblock %}